[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "==2.0.1"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
pyjwt = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
